.diagram-wrapper {
  display: flex;
}
.diagram-container {
  border: 2px red solid;
  width: 80%;
}

.properties-panel {
  width: 20%;
  border: 2px green solid;
}

.output-wrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  border: 2px black solid;
  background-color: #eee;

  pre {
    white-space: pre-wrap;
  }
}
