.wrapper {
  display: flex;
}
.diagram-container {
  border: 2px red solid;
  width: 80%;
}

.properties-panel {
  width: 20%;
  border: 2px green solid;
}

.properties-panel:empty {
  //display: none;
}

.properties-panel > .djs-properties-panel {
  //padding-bottom: 70px;
  //min-height: 100%;
}
